
{% if section.settings.enable_sticky_btn %}

{{ 'section-newsletter-popup.css' | asset_url | stylesheet_tag }}

{% include 'nl-sticky-button'%}

<div class="bottom-nl-popup-form popup-form-main klaviyo-newsletter">

  <span class="nl-form-close">
    <img src="{{'close.svg' | asset_url }}">
  </span>

  <div class="email-form email-form-{{section.id}} bottom-nl-popup-inner popup-form-inner">

    <div class="nl-form-wrap">

    {% unless section.settings.email_newsletter_heading == blank %}
      <div class="nl-popup-heading success-hide">
        <h3>{{section.settings.email_newsletter_heading}}</h3>
      </div>
    {% endunless %}

    <form novalidate id="email_newsletter-{{section.id}}" class="custom-form" action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST">
    <input type="hidden" name="g" value="{{section.settings.list_id}}">

      <div class="newsletter-form__field-wrapper">

        {% unless section.settings.email_privacy_agreement == blank %}
        <div class="field checkbox-field">
          <label class="checkbox-label">
            <input id="privacy_agreement" type="checkbox" name="newsletter" class="email-checkbox newsletter_checkbox" value="privacy_agreement" checked required>
            <span class="checkmark" tabindex="0"></span>
            <div class="privacy-agreement-text">
              {{section.settings.email_privacy_agreement}}
            </div>
          </label>
        </div>
        {% endunless %}

        <div class="field email-field">
          <input id="k_id_email" type="email" name="email" class="field__input" value="" placeholder="Enter your email">
          <div class="newsletter-email-error error-message" style="display:none">{{section.settings.email_error_msg}}</div>
        </div>

        <div class="form-submit-btn">
          <button type="submit" class="newsletter-form__button email-form-submit field__button" id="ns_subscribe">
            {{section.settings.email_form_btn}}
          </button>
        </div>
      </div>

      
    </form>

    
    </div>

    {% if section.settings.phone_form_trigger != blank %}
      <div class="form-trigger phone-form-trigger">
        <span class="link uppercase text-underline" tabindex="0">{{section.settings.phone_form_trigger}}</span>
      </div>
    {% endif %}

    <div class="newsletter-success-message" style="display: none;">
      <h3 class="ns-success-message">{{section.settings.email_success_msg}}</h3>
    </div>

  </div>

  <div class="phone-number-form phone-form-{{section.id}} bottom-nl-popup-inner popup-form-inner">

    <div class="nl-form-wrap">
    {% unless section.settings.phone_newsletter_heading == blank %}
      <div class="nl-popup-heading">
        <h3>{{section.settings.phone_newsletter_heading}}</h3>
      </div>
    {% endunless %}

    <div id="phone_form-{{section.id}}" class="custom-form">
      <div class="newsletter-form__field-wrapper">

        {% if section.settings.phone_privacy_agreement != blank %}
        <div class="field checkbox-field">
          <label class="checkbox-label">
            <input id="phone_privacy_agreement" type="checkbox" name="phone-newsletter" class="phone-checkbox newsletter_checkbox" value="phone-newsletter" checked required>
            <span class="checkmark" tabindex="0"></span>
            <div class="privacy-agreement-text">
              {{section.settings.phone_privacy_agreement}}
            </div>
          </label>
        </div>
        {% endif %}

        <div class="field phone-field">
          <input id="k_id_phone" type="phone" name="phone_number" class="field__input js_input_phone" value="" placeholder="Enter your phone" required>
          <div class="newsletter-phone-error error-message" style="display:none">{{section.settings.phone_error_msg}}</div>
        </div>

        <div class="form-submit-btn">
          <button type="submit" class="newsletter-form__button phone-form-submit field__button" id="ns_popup_phone_subscribe">
            {{section.settings.phone_form_btn}}
          </button>
        </div>
      </div>
      
    </div>
    
  </div>

  {% if section.settings.email_form_trigger != blank %}
    <div class="form-trigger email-form-trigger">
      <span class="link uppercase text-underline" tabindex="0">{{section.settings.email_form_trigger}}</span>
    </div>
  {% endif %}

  <div class="newsletter-success-message" style="display: none;">
    <h3 class="ns-success-message">{{section.settings.phone_success_msg}}</h3>
  </div>

  <div class="newsletter-success-message phone-success-msg" style="display: none;">
    <h3 class="ns-success-message">{{section.settings.phone_success_msg}}</h3>
  </div>
</div>

    
</div>

{% endif %}
  
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script> 

{% render 'newsletter-js' %} 

<script> 
  // klaviyo api for custom form submit 
  KlaviyoSubscribe.attachToForms('#email_newsletter-{{section.id}}', {
    hide_form_on_success: true,
    success: function ($form) {
      $('#email_newsletter-{{section.id}}').parent('.nl-form-wrap').hide();
      $('.email-form-{{section.id}}').find('.form-trigger').hide();
      $('#email_newsletter-{{section.id}}').parents('.popup-form-inner').find('.newsletter-success-message').show();
    },
    extra_properties: {
      $source: 'GIR Popup Newsletter',
      $method_type: "Custom Klaviyo Form"
    }
  });

  // PostScript Code

  $("#ns_popup_phone_subscribe").on('click',function(){
    let mobileNo = $("#shopify-section-newsletter-popup .js_input_phone[type=phone]").val();
    var phoneField = $(this).parents('#phone_form-{{section.id}}').find('.phone-field').find('.field__input');
    var acceptAgreement = $(this).parents('.custom-form').find('.checkbox-field').find('.phone-checkbox').is(":checked");

    if (acceptAgreement == true && phoneField.val() !='') {
      subscribePhone(mobileNo)
      .then(response=>{
        
        // Code to hide other input 
        
        $('#phone_form-{{section.id}}').parent('.nl-form-wrap').hide();
        $('.phone-form-{{section.id}}').find('.form-trigger').hide();
        $('.phone-form-{{section.id}}').find(".phone-success-msg").show();

      },error=> {

        phoneField.siblings('.newsletter-phone-error').show(); 
        phoneField.siblings('.newsletter-phone-error').html(error);

      })
    }

  })

</script>


{% schema %}
  {
    "name": "Newsletter Popup",
    "settings": [
	  {
        "type": "header",
        "content": "Sticky Button"
      },
      {
        "type": "checkbox",
        "id": "enable_sticky_btn",
        "label": "Enable Sticky Button",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "sticky_btn_image",
        "label": "Sticky Button Image"
      },
      {
        "type": "url",
        "id": "svg_sticky_btn_image",
        "label": "Sticky Button SVG URL"
      },
		  {
        "type": "header",
        "content": "Email Form"
      }, 
		  {
        "type": "text",
        "id": "list_id",
        "label": "Klaviyo List ID",
        "default": "X8cyiB"
      },    
      {
        "type": "textarea",
        "id": "email_newsletter_heading",
        "label": "Newsletter Heading",
        "default": "JOIN THE GUEST IN RESIDENCE COMMUNITY - SUBSCRIBE AND STAY TUNED..."
      },       
      {
        "type": "richtext",
        "id": "email_privacy_agreement",
        "label": "Privacy Agreement Text"
      },  
      {
        "type": "text",
        "id": "email_form_btn",
        "label": "Form Button Text",
        "default": "Subscribe"
      },
      {
        "type": "header",
        "content": "Email Form Mesasges"
      },
      {
        "type": "textarea",
        "id": "email_success_msg",
        "label": "Form Success Message",
        "default": "Thank you for Subscribing to our newsletter! here is where you will receive information about our launch, exclusive events, collections, and news."
      },
      {
        "type": "text",
        "id": "email_error_msg",
        "label": "Form Error Message",
        "default": "Invalid Email"
      },
      {
        "type": "text",
        "id": "phone_form_trigger",
        "label": "Phone form Trigger",
        "default": "Text me instead"
      },
      {
        "type": "text",
        "id": "email_form_trigger",
        "label": "Email form Trigger",
        "default": "Email me instead"
      },
		  {
        "type": "header",
        "content": "Phone Number Form"
      },     
      {
        "type": "textarea",
        "id": "phone_newsletter_heading",
        "label": "Newsletter Heading",
        "default": "JOIN THE GUEST IN RESIDENCE COMMUNITY - SUBSCRIBE AND STAY TUNED..."
      },       
      {
        "type": "richtext",
        "id": "phone_privacy_agreement",
        "label": "Privacy Agreement Text"
      },  
      {
        "type": "text",
        "id": "phone_form_btn",
        "label": "Form Button Text",
        "default": "Subscribe"
      },
      {
        "type": "header",
        "content": "Phone Form Mesasges"
      },
      {
        "type": "textarea",
        "id": "phone_success_msg",
        "label": "Form Success Message",
        "default": "Thank you for Subscribing to our newsletter! here is where you will receive information about our launch, exclusive events, collections, and news."
      },
      {
        "type": "text",
        "id": "phone_error_msg",
        "label": "Form Error Message",
        "default": "Invalid Phone Number"
      }
	]
  }
{% endschema %}
