{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}
{{ 'section-newsletter-popup.css' | asset_url | stylesheet_tag }}
{{ 'section-email-signup-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{% render 'app-config' %}
{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  {%- if section.settings.image_height == 'adapt-image' and section.settings.image != blank -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }

  {%- endif -%}

.password-nl-popup-inner.form-success .success-hide { display: none !important; }
 {%- if section.settings.show_background_image -%}
.password-page-main {
	background-image: url({{ section.settings.image | img_url: 'master'}});
}

@media only screen and (max-width: 768px) {
	background-image: url({{ section.settings.mb_image | img_url: 'master' }});
}
{% endif %}


{%- endstyle -%}

<div id="Banner-{{ section.id }}" class="password-page-main email-signup-banner banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.image_height == 'adapt-image' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">
{% unless section.settings.instagram_url == blank %}
<div class="pw-social-icon">
  <a href="{{section.settings.instagram_url}}" target="_blank"><img src="{{'instagram.png' | asset_url }}" /></a>
</div>
{% endunless %}

  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
    <div class="email-signup-banner__box banner__box newsletter newsletter__wrapper isolate{% if section.settings.show_background_image == false %} email-signup-banner__box--no-image{% endif %} content-container color-{{ section.settings.color_scheme }} gradient content-container--full-width-mobile">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="email-signup-banner__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
          {%- when 'image' -%}
      
              <div class="pw-logo-image">
                <img src="{{block.settings.logo_image | img_url : 'master'}}">
              </div>
      
      {%- when 'paragraph' -%}
            <div class="newsletter__subheading rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
          {%- when 'email_form' -%}
      
      		{% unless block.settings.btn_text == blank %}
              <div class="password-nl-popup-trigger">
                <span class="nl-popup-trigger">
                  {{block.settings.btn_text}}
                </span>
              </div>
              {% endunless %} 
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
  
  
  {% for block in section.blocks %}
  {%- if block.type == 'email_form' -%}
  
  	<div class="password-nl-popup-form  klaviyo-newsletter">
      
      <span class="nl-form-close">
        <img src="{{'close.svg' | asset_url }}">
      </span> 

      <div class="password-nl-popup-inner">

        <div class="email-form email-form-{{section.id}} bottom-nl-popup-inner popup-form-inner">

          <div class="nl-form-wrap">
      
          {% unless block.settings.email_newsletter_heading == blank %}
            <div class="nl-popup-heading success-hide">
              <h3>{{block.settings.email_newsletter_heading}}</h3>
            </div>
          {% endunless %}
      
          <form novalidate id="email_newsletter-{{section.id}}" class="custom-form" action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST">
          <input type="hidden" name="g" value="{{block.settings.list_id}}">
      
            <div class="newsletter-form__field-wrapper">
      
              {% unless block.settings.email_privacy_agreement == blank %}
              <div class="field checkbox-field">
                <label class="checkbox-label" tabindex="0">
                  <input id="privacy_agreement" type="checkbox" name="newsletter" class="email-checkbox newsletter_checkbox" value="privacy_agreement" checked required>
                  <span class="checkmark"></span>
                  <div class="privacy-agreement-text">
                    {{block.settings.email_privacy_agreement}} <a data-fancybox="" data-src="#terms_of_services" href="javascript:;">terms of service</a> + <a data-fancybox="" data-src="#privacy_policy" href="javascript:;">privacy policy</a>
                  </div>
                </label>
              </div>
              {% endunless %}
      
              <div class="field email-field">
                <input id="k_id_email" type="email" name="email" class="field__input" value="" placeholder="Enter your email">
                <div class="newsletter-email-error error-message" style="display:none">{{block.settings.email_error_msg}}</div>
              </div>
      
              <div class="form-submit-btn">
                <button type="submit" class="newsletter-form__button email-form-submit field__button" id="ns_subscribe">
                  {{block.settings.email_form_btn}}
                </button>
              </div>
            </div>
      
            
          </form>
      
          
          </div>
      
          {% if block.settings.phone_form_trigger != blank %}
            <div class="form-trigger phone-form-trigger" tabindex="0">
              <span class="link uppercase text-underline">{{block.settings.phone_form_trigger}}</span>
            </div>
          {% endif %}
      
          <div class="newsletter-success-message" style="display: none;">
            <h3 class="ns-success-message">{{block.settings.email_success_msg}}</h3>
          </div>
      
        </div>
      
        <div class="phone-number-form phone-form-{{section.id}} bottom-nl-popup-inner popup-form-inner">
      
          <div class="nl-form-wrap">
          {% unless block.settings.phone_newsletter_heading == blank %}
            <div class="nl-popup-heading">
              <h3>{{block.settings.phone_newsletter_heading}}</h3>
            </div>
          {% endunless %}
      
          <div id="phone_form-{{section.id}}" class="custom-form">
            <div class="newsletter-form__field-wrapper">
      
              {% if block.settings.phone_privacy_agreement != blank %}
              <div class="field checkbox-field">
                <label class="checkbox-label" tabindex="0">
                  <input id="phone_privacy_agreement" type="checkbox" name="phone-newsletter" class="phone-checkbox newsletter_checkbox" value="phone-newsletter" checked required>
                  <span class="checkmark"></span>
                  <div class="privacy-agreement-text">
                    {{block.settings.phone_privacy_agreement}} <a data-fancybox="" data-src="#terms_of_services" href="javascript:;">terms of service</a> + <a data-fancybox="" data-src="#privacy_policy" href="javascript:;">privacy policy</a>
                  </div>
                </label>
              </div>
              {% endif %}
      
              <div class="field phone-field">
                <input id="k_id_phone" type="phone" name="phone_number" class="field__input js_input_phone" value="" placeholder="Enter your phone" required>
                <div class="newsletter-phone-error error-message" style="display:none">{{block.settings.phone_error_msg}}</div>
              </div>
      
              <div class="form-submit-btn">
                <button type="submit" class="newsletter-form__button phone-form-submit field__button" id="ns_password_phone_subscribe">
                  {{block.settings.phone_form_btn}}
                </button>
              </div>
            </div>
            
          </div>
          
        </div>
      
        {% if block.settings.email_form_trigger != blank %}
          <div class="form-trigger email-form-trigger" tabindex="0">
            <span class="link uppercase text-underline">{{block.settings.email_form_trigger}}</span>
          </div>
        {% endif %}
      
        <div class="newsletter-success-message phone-success-msg" style="display: none;"> 
          <h3 class="ns-success-message">{{block.settings.phone_success_msg}}</h3>
        </div>
      </div>
        
      </div>
    </div>
  
  {%- endif  -%}
  {% endfor %}

</div> 
{% unless section.settings.page_1 == blank %}
{% assign page = pages[section.settings.page_1] %}
<div style="display: none;" id="privacy_policy">
  <div class="agreement-popup-inner">
    <h2>{{page.title}}</h2>
    <p>{{page.content}}</p>
  </div>
</div>
{% endunless %}

{% unless section.settings.page_2 == blank %}
{% assign page = pages[section.settings.page_2] %}
<div style="display: none;" id="terms_of_services">
  <div class="agreement-popup-inner">
    <h2>{{page.title}}</h2>
    <p>{{page.content}}</p>
  </div>
</div>
{% endunless %}


<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script> 

{% render 'newsletter-js' %} 

<script> 
  // klaviyo api for custom form submit 
  KlaviyoSubscribe.attachToForms('#email_newsletter-{{section.id}}', {
    hide_form_on_success: true,
    success: function ($form) {
      $('#email_newsletter-{{section.id}}').parent('.nl-form-wrap').hide();
      $('.email-form-{{section.id}}').find('.form-trigger').hide();
      $('#email_newsletter-{{section.id}}').parents('.popup-form-inner').find('.newsletter-success-message').show();
    },
    extra_properties: {
      $source: 'GIR Password Newsletter',
      $method_type: "Custom Klaviyo Form"
    }
  });

  // PostScript Code

  $("#ns_password_phone_subscribe").on('click',function(){
    let mobileNo = $(".js_input_phone[type=phone]").val();
    var phoneField = $(this).parents('#phone_form-{{section.id}}').find('.phone-field').find('.field__input');
    var acceptAgreement = $(this).parents('.custom-form').find('.checkbox-field').find('.phone-checkbox').is(":checked");

    if (acceptAgreement == true && phoneField.val() !='') {
      subscribePhone(mobileNo)
      .then(response=>{
        
        // Code to hide other input 
        
        $('#phone_form-{{section.id}}').parent('.nl-form-wrap').hide();
        $('.phone-form-{{section.id}}').find('.form-trigger').hide();
        $('.phone-form-{{section.id}}').find(".phone-success-msg").show();

      },error=> {

        phoneField.siblings('.newsletter-phone-error').show(); 

      })
    }

  })

  $('[data-fancybox]').fancybox({
    touch: false
  });

</script>

{% schema %}
{
  "name": "Password Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.email-signup-banner.settings.paragraph.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.email-signup-banner.settings.image.label"
    }, 
    {
      "type": "image_picker",
      "id": "mb_image",
      "label": "Mobile Image"
    }, 
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram Link"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.email-signup-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "show_background_image",
      "label": "t:sections.email-signup-banner.settings.show_background_image.label",
      "default": true
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt-image",
          "label": "t:sections.email-signup-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.email-signup-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.email-signup-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.email-signup-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.email-signup-banner.settings.image_height.label",
      "info": "t:sections.email-signup-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.email-signup-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.email-signup-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.email-signup-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.email-signup-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.email-signup-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.email-signup-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.email-signup-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.email-signup-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.email-signup-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.email-signup-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.email-signup-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.email-signup-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.email-signup-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.email-signup-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.email-signup-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "transparent",
          "label": "Transparent"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.email-signup-banner.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.email-signup-banner.settings.header.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.email-signup-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.email-signup-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.email-signup-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.email-signup-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.email-signup-banner.settings.show_text_below.label"
    },
    {
      "type": "page",
      "id": "page_1",
      "label": "Privacy Page"
    },
    {
      "type": "page",
      "id": "page_2",
      "label": "Terms of services"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.email-signup-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Opening soon",
          "label": "t:sections.email-signup-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.email-signup-banner.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know when we launch.</p>",
          "label": "t:sections.email-signup-banner.blocks.paragraph.settings.paragraph.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Logo Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.email-signup-banner.blocks.email_form.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "btn_text",
          "label": "Subscribe Button",
          "default": "Subscribe"
        },
        {
          "type": "header",
          "content": "Email Form"
        }, 
        {
          "type": "text",
          "id": "list_id",
          "label": "Klaviyo List ID",
          "default": "X8cyiB"
        },    
        {
          "type": "textarea",
          "id": "email_newsletter_heading",
          "label": "Newsletter Heading",
          "default": "JOIN THE GUEST IN RESIDENCE COMMUNITY - SUBSCRIBE AND STAY TUNED..."
        },       
        {
          "type": "richtext",
          "id": "email_privacy_agreement",
          "label": "Privacy Agreement Text"
        },  
        {
          "type": "text",
          "id": "email_form_btn",
          "label": "Form Button Text",
          "default": "Subscribe"
        },
        {
          "type": "header",
          "content": "Email Form Mesasges"
        },
        {
          "type": "textarea",
          "id": "email_success_msg",
          "label": "Form Success Message",
          "default": "Thank you for Subscribing to our newsletter! here is where you will receive information about our launch, exclusive events, collections, and news."
        },
        {
          "type": "text",
          "id": "email_error_msg",
          "label": "Form Error Message",
          "default": "Invalid Email"
        },
        {
          "type": "text",
          "id": "phone_form_trigger",
          "label": "Phone form Trigger",
          "default": "Text me instead"
        },
        {
          "type": "text",
          "id": "email_form_trigger",
          "label": "Email form Trigger",
          "default": "Email me instead"
        },
        {
          "type": "header",
          "content": "Phone Number Form"
        },     
        {
          "type": "textarea",
          "id": "phone_newsletter_heading",
          "label": "Newsletter Heading",
          "default": "JOIN THE GUEST IN RESIDENCE COMMUNITY - SUBSCRIBE AND STAY TUNED..."
        },       
        {
          "type": "richtext",
          "id": "phone_privacy_agreement",
          "label": "Privacy Agreement Text"
        },  
        {
          "type": "text",
          "id": "phone_form_btn",
          "label": "Form Button Text",
          "default": "Subscribe"
        },
        {
          "type": "header",
          "content": "Phone Form Mesasges"
        },
        {
          "type": "textarea",
          "id": "phone_success_msg",
          "label": "Form Success Message",
          "default": "Thank you for Subscribing to our newsletter! here is where you will receive information about our launch, exclusive events, collections, and news."
        },
        {
          "type": "text",
          "id": "phone_error_msg",
          "label": "Form Error Message",
          "default": "Invalid Phone Number"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Password Page",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ],
  "templates": [
    "password"
  ]
}
{% endschema %}